@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Open+Sans:wght@300;400&family=REM:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary--font: 'DM Sans', sans-serif;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--primary--color);
    font-family: var(--primary--font);
  }
