.dash--container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.dash--wrapper > h2 {
  width: max-content;
  margin-top: 6rem;
  font-family: var(--secondary--font);
  color: var(--blue--color);
  font-size: 3rem;
}

.dash--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.forms--wrapper {
  width: 100%;
}
