.home--container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url('/src/assets/homeBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.home--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 5rem 0;
}

h1 {
  color: var(--secondary--color);
  font-family: var(--secondary--font);
  font-size: 4rem;
}

.btn {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--secondary--color);
  padding: 1rem 1.5rem;
  border: 2px solid var(--secondary--color);
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s ease-in;
  text-transform: uppercase;
  font-family: var(--secondary--font);
  font-weight: bold;
}

.btn:hover {
  background: #fffdfa;
  color: #111;
}
