@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=REM:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary--color);
}
:root {
  --blue--color: #1677ff;
  --subHeader--color: #fac7c3;
  --secondary--color: #ffffff;
  --primary--font: 'Open Sans', sans-serif;
  --secondary--font: 'REM', sans-serif;
}

/* @media screen and (max-width: 1000px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 360px) {
} */
